          <li><img src="@MACRO_IMAGE" alt="" />
            <div class="panel-overlay">
              <h2>@MACRO_TITLE</h2>
              <p>@MACRO_BYLINE<br />
                <a href="#">Continue Reading &raquo;</a></p>
            </div>
          </li>
