<html><head>

<script>
function setDefaultValuesFromUrlParams()
{
  // assumes the url var names match the dom ids
  var queryString = location.search.substring(1);
  var varsArray = queryString.split("&");
  for (var i=0; i < varsArray.length;i++){
    var nvArray = varsArray[i].split("=");
    if (nvArray[0] == 'category_name'){
      document.getElementById(nvArray[0]).innerHTML = nvArray[1];
    }else{
      document.getElementById(nvArray[0]).value = nvArray[1];
    }
  }
}
</script>


</head>
<body onload="setDefaultValuesFromUrlParams();">

<font size=+2><b><u><span id='category_name'>Category</span> Quality Filters</u></b></font>
<br/><br/>

<label for=slider1><b>Minimum Author Approval Rating: &nbsp; </b></label>
0%<input type=range id=slider1 min=0 value=50 max=100 step=1>100%
</br/>

<label for=slider2><b>Minimum Article Approval Rating: &nbsp; </b></label>
0%<input type=range id=slider2 min=0 value=50 max=100 step=1>100%
</br/>
</br/>

<table border=0 width=100%><tr>
  <td>Sub Category:
    <select>
      <option> &nbsp; </option>
      <option> Newspapers </option>
      <option> Etc </option>
    </select>
  </td>
  <td>Tag:
    <select>
      <option> &nbsp; </option>
      <option> user supplied tag1 </option>
      <option> user supplied tag2 </option>
    </select>
  </td>
  <td>Must Contain:<input type=text></td>
</tr></table>
</br/>

<br/>
<button onclick="window.opener.filterModalCallBack(document.getElementById('slider1').value,document.getElementById('slider2').value,document.getElementById('slider3').value);">Accept</button>

</body>
</html>

