<div>
  <a id='modal_anchor' href='#close' title='Close' class='close'>X</a>
  <h2>Login</h2>
  <p>
  <table width=80% align=center>
    <tr><td align=right>Email:</td><td><input id='email' type=text></td></tr>
    <tr><td align=right>Password:</td><td><input id='password' type=password></td></tr>
    <tr>
      <td>
        <a href='#' onclick='return(loginModalSignUpPressed());'>Sign Up</a>
      </td>
      <td align=right>
        <a href='#' onclick='return(loginModalAcceptPressed());'>Accept</a>
      </td>
    </tr>
  </table>
  </p>
</div>

