<div id="openAccount" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Sign Up</h2><p>
    <table width=80% align=center>
      <tr>
        <td>
          <input type=radio name=email_public value='yes'>
          <input type=radio name=email_public value='no'>
        </td>
        <td align=right>Email:</td>
        <td><input type=text></td>
      </tr>
      <tr>
        <td> &nbsp; </td>
        <td align=right>Password:</td>
        <td><input type=text></td>
      </tr>
      <tr>
        <td> &nbsp; </td>
        <td align=right>Confirm Password:</td>
        <td><input type=text></td>
      </tr>
      <tr>
        <td> &nbsp; </td>
        <td align=right>Display Name</td>
        <td><input type=text></td>
      </tr>
      <tr>
        <td colspan=3 align=right>
          <a href="#" onclick="registerUser();">Accept</a>
        </td>
      </tr>
    </table>
    </p>
  </div>
</div>

